name: Pytest and Allure Workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest allure-pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Run tests with Pytest
        run: pytest test_python_pytest_script.py --alluredir=./allure-results
      - name: Upload Allure results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: ./allure-results
      - name: Upload screenshots
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: ./screenshots
