name: Pytest Selenium with Allure

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  selenium-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          if [ -f requirements.txt ]
          then
            echo "requirements.txt found, installing dependencies from requirements.txt"
            pip install -r requirements.txt
            pip install allure-pytest
          else
            echo "requirements.txt not found, installing default dependencies"
            pip install selenium webdriver-manager allure-pytest
          fi

      - name: Install Allure Commandline
        run: |
          sudo apt-get update
          sudo apt-get install -y openjdk-11-jre
          wget https://github.com/allure-framework/allure2/releases/download/2.27.0/allure-2.27.0.tgz
          tar -xzf allure-2.27.0.tgz
          sudo mv allure-2.27.0 /opt/allure
          sudo ln -s /opt/allure/bin/allure /usr/bin/allure
          allure --version

      - name: Run Selenium Tests with Allure
        run: |
          pytest test_google_search.py --alluredir=allure-results test.py

      - name: Generate Allure Report
        run: |
          allure generate --clean allure-results -o allure-report

      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report

      - name: Upload Screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: screenshots
